- unless current_user?(@user)
  - if current_user.following?(@user)
    = render 'unfollow'
  - else
    = render 'follow'
%h2= @user.name
- @user.decks.each do |deck|
  %h3= deck.name
  .cards
    = render deck.cards
- if @user.loose_cards.any?
  %h3 Loose cards
  .cards
    = render @user.loose_cards
