.card-container
  .card-header
    %h3
      %a{href: card_path(card)}= card.title
  %div{class: "card-body card-#{card.content_type.downcase}"}
    = render card.content
  .card-footer
    = render card.tags
    %a.by{href: user_path(card.user)}= "by #{card.user.name}"
    - if card.board.present?
      = link_to card.board.name, card.board
