%header
  %h1.logo
    %a{href: logged? ? feed_path : root_path} Shuffler
  %nav
    - unless logged?
      = link_to "Register", signup_path
      |
      = link_to "Log in", login_path
      |
      three
    - else
      = current_user.email
      = link_to "Log out", logout_path

%div.top_links
  .sections
    = link_to "Feed", feed_path
    |
    = link_to "All", root_path
  .sorts
    New | Top
 
